body{
    background-color: black;
}

.nav{
    height: 50px;
    background-color: red;
    top: 0;
}
.movess{
    width: 150px;
}
h6{
    font-size: large;
    margin-top: -28px;
    margin-right: 1200px ;
    color: white;
}
h4{
    margin-top: -65px;
    color: white;
}
h3{
    margin-left: 1000px;
    margin-top: -40px;
    color: white;
}
.moves{
    height: 25px;
    width: 25px;   
   background-color: red;
   border-style: none;
   cursor: pointer;
}

.placed{
    margin-left: 1320px;
    margin-top: -40px;
    cursor: pointer;
}
.abb{
    height: 30px;
    cursor: pointer;
 
    width: 30px;
  margin-right: 1450px;
    margin-top: 10px;
    background-color: red;
    border-style: none;
}
.hii{
    border: 1px solid rgb(222, 222, 247);
    background-color: rgb(228, 222, 33);
    color: white;
   
    width: 200px;
   
}
.hlo{
    width: 200px;
    margin-left: 8px;
    
}
body{
    background-color: rgb(5, 6, 6);
    top: 50px;
}
.second{
    margin-right: 1100px;
    margin-top: 30px; 
}
input{
    background-color: rgb(213, 240, 201);
    border: 0.4px solid rgb(231, 146, 229);
    height: 25px;
    border-radius: 15px;
}
select{
    background-color:  rgb(213, 240, 201);
    border: 0.4px solid rgb(231, 146, 229);
    height: 35px;
    border-radius: 15px;

}

.third{
    display: flex;
   
    margin-top: 25px;
    gap: 50px;
    margin-left: 25px;
}
.space{
    width: 400px;
}
.spaces{
    margin-right: 180px;
    color: rgb(230, 233, 237);
}
.four{
    display: flex;
    margin-left: 25px;
    gap: 50px;
    margin-top: 15px;
}
.sixx{
    display: flex;
    gap: 70px;
    margin-top: 25px;
    margin-left: 25px ;
}
.ppp1{
   margin-right: 260px;
}
.ppp3{
    margin-right: 260px;
}
.ok1{
    margin-right: 160px;
}
.ok5{
    width: 300px;
}
.five{
    margin-top: 20px;
    margin-right: 1200px;
    background-color: black;
    color: white;
    width: 200px;
    margin-left: 10px;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 30px;
}
th,td{
    border: 1px solid black;
    width: 100px;
    height: 30px;
    font-family: cursive;

}

button{
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
}
button:hover{
    background-color: red;
}
thead{
    background-color: rgb(159, 159, 157);
}
tbody{
    background-color: rgb(254, 254, 249);
}
label{
    color: rgb(10, 10, 11);
}
.tik{
    margin-left: 1000px;
    margin-top: 10px;
}
.tok{
    background-color: rgb(58, 167, 210);
    width: 110px;
    color: white;
    
}
.tok1{
    background-color: orangered;
   color: white;
   width: 200px;
}
.tok2{
    margin-left: 10px;
    background-color: green;
    color: white;
}
input:hover{
    background-color: rgb(199, 185, 235);
}
select:hover{
    background-color:  rgb(199, 185, 235) ;
}
.ppp1,.ppp2,.ppp3,.ok1,.ok3{
    color:  rgb(230, 233, 237);
}